@import "../../../styles/main.scss";

.dialog-top {
  position: relative;
  background-color: $darkgrey;
  border-bottom: 1px solid rgba($textgrey, 0.2);
  padding: 24px;
  color: $textgrey;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin: 0;

    @media (max-width: $breakpointCompact) {
      font-size: $fonttitle;
    }
  }

  mat-icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.dialog-container {
  color: $textgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(200px, 1200px, 100%);
  position: relative;
  padding: 48px 24px !important;
}

.input-field-reset {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  input {
    color: $textgrey;
    outline: none;
    &::placeholder {
      color: $textgrey;
    }
  }
}

button {
  color: $textgrey !important;
  background-color: #35373b;
}
