@import "./variables";

mat-icon {
  cursor: pointer;
}

mat-toolbar-row {
  height: $menuHeight !important;
  justify-content: space-between;
}

.mdc-dialog__title + .mdc-dialog__content {
  padding: 16px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: $grey !important;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 8px !important;
}

.dialog-panel
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  background-color: $grey;

  .mdc-dialog__title::before {
    display: inline-block;
    width: 0;
    height: 0px;
    content: "";
    vertical-align: 0;
  }
  .mat-icon {
    cursor: pointer;
    color: $textgrey;
    margin: 0 0;
    transition: all 125ms ease-in-out;
    @media (max-width: $breakpointCompact) {
      position: inherit;
    }
    &:hover {
      color: $white;
    }
  }

  .title {
    color: $white;

    @media (max-width: $breakpointCompact) {
      font-size: $fonttitle;
    }
  }

  .mdc-dialog__title {
    padding-top: 9px;
  }

  .dialog-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    background-color: $darkgrey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    mat-icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  .dialog-main {
    mat-icon {
      font-size: 20px;
      transform: translate(2px, 3px);
    }
  }
}

mat-card {
  padding: 16px;
  width: 50%;
}

.input-field-reset {
  .mat-mdc-text-field-wrapper,
  .mdc-text-field--outlined {
    background-color: transparent;
    border: $normalBorder !important;
    border-radius: 8px !important;
    overflow: auto;
  }
}
