@import "../../../styles/main.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: $normalBorder;
  background-color: $darkgrey;

  @media (max-width: $menuBreakpoint) {
    border-left: none;
  }
}

.threads-container {
  position: absolute;
  max-height: calc(100% - $componentHeaderHeight);
  top: $componentHeaderHeight;
  left: 0;
  right: 0;
  background-color: $darkgrey;
  overflow-y: auto;
  width: 100%;
}

.title-channel-and-close-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: $normalBorder;
  height: $componentHeaderHeight;
  z-index: 1;
  color: $textgrey;

  img {
    width: 20px;
    height: 20px;
  }
}

.title-and-channel {
  display: flex;
}

.close {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    color: $white;
  }
}

.post {
  background-color: $darkgrey;
  border-radius: 10px;
  color: $textgrey;
}

.title {
  color: $white;
  font-size: $fonttitle;
  font-weight: 500;
}

.channel {
  color: $white;
  margin-left: 16px;
  font-size: $fonttitle;
}

.user-message {
  display: flex;
  padding: 24px;
  transition: all 125ms ease-in-out;

  &:hover {
    background: $grey;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }
}

.user-name-and-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: $regular;
  font-weight: 300;
}

.user-name {
  color: $white;
  font-weight: 500;
  margin-right: 10px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.user-name-and-time {
  display: flex;
}

.time {
  display: flex;
  align-items: center;
  font-size: $small;
  font-weight: 300;
  color: $silvergrey;
}

.content-thread-container {
  img {
    display: none !important;
  }
}

.comments {
  margin-top: 12px;
  margin-left: 16px;
  font-size: $regular;
  font-weight: 500;
  color: $blue;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.user-message-more {
  display: flex;
  padding: 24px;
  transition: all 125ms ease-in-out;

  &:hover {
    background: $grey;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }
}

.amount-comments {
  display: flex;
  padding: 24px;
}

.replies {
  display: flex;
}

.comment-container {
  display: flex;
  align-items: center;
  margin-left: 4px;
  width: 100%;
}

.comment-line {
  width: 100vw;
  height: 0;
  border: $thinBorder;
  margin-left: 16px;
  margin-right: 16px;
  width: 100vw;
  max-width: 100%;
}

.box-text-editor {
  padding: 0 24px 10px 24px;
}

.image-attachment {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.posting-attachment {
  display: flex;
  align-items: center;
  gap: 5px;
}
