@import "../../../styles/main.scss";
@import "../../../styles/variables.scss";

.box {
  position: relative;
  background-color: $grey;
  border-radius: 10px;
}

.quill-text-editor {
  width: 100%;
  display: block;
  height: unset !important;
}

.send-btn-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  .send-btn {
    position: relative;
    border: none;
    background-color: $grey;
    color: $textgrey;

    mat-icon {
      transition: all 125ms ease-in-out;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  mat-spinner {
    display: block;
    margin: 0 auto;
    transform: scale(0.3);
  }
}

.image-and-send {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}

.image-container-attachment {
  display: flex;
  margin-top: 12px;

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}

.image-container {
  position: relative;

  img {
    &:hover {
      opacity: 0.7;
    }
  }
}

.close-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -12px;
  right: -8px;
  background-color: $lightgrey;
  color: $textgrey;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 125ms ease-in-out;

  mat-icon {
    font-size: 18px;
    transform: translate(0, 2px);
  }

  &:hover {
    background-color: $textgrey;
    color: #000000;
  }
}
